.body {
    position: relative;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: start;
    font-size: 2rem;
    font-weight: 300;
}

.correct {
    color: var(--correct-color);
}

.incorrect {
    color: var(--incorrect-color);
    text-decoration: underline;
}

.cursor {
    background-color: hsla(240, 3%, 59%, 0.8);
    border-radius: 1px;
    inset: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .body {
        font-size: 1.25rem;
    }
}

.hiddenInput {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    /* Importante per iOS: evita che la pagina faccia zoom al focus */
    font-size: 16px;
}
