.body {
    position: relative;
    font-size: 1.2em;
    line-height: 1.5;
}

.correct {
    color: var(--correct-color);
}

.incorrect {
    color: var(--incorrect-color);
    text-decoration: underline;
}

.cursor {
    background-color: hsl(240, 1%, 59%);
    border-radius: 1px;
    inset: 0;
    padding: 0;
}
