.body {
    border-bottom: 1px solid hsla(0, 0%, 85%, 0.3);
    padding-top: 1rem;
    padding-inline: 0;
    padding-bottom: 1ch;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .body {
        flex-direction: column;
        gap: 1ch;
    }
}

.stats {
    display: flex;
    font-weight: 200;
    gap: 1ch;
}

@media (max-width: 768px) {
    .stats {
        text-align: center;
    }

    .stats div {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .controls div {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

.stats div:not(:first-child),
.controls div:not(:first-child) {
    border-left: 1px solid hsl(0, 0%, 85%);
    padding-inline-start: 1ch;
}

@media (max-width: 768px) {
    .controls div:not(:first-child) {
        border-left: none;
        padding-inline-start: 0;
    }
}

.bold {
    font-weight: 600;
}

.controls {
    display: flex;
    font-weight: 200;
    gap: 1ch;
}

.options {
    display: flex;
    gap: 0.5ch;
}

select {
    font-family: "Sora", sans-serif;
    font-weight: 200;
    text-align: center;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
}
select:focus,
select:hover {
    border-color: var(--active-color);
    outline: none;
    color: var(--active-color);
}

select option {
    font-family: "Sora", sans-serif;
    font-weight: 200;
    background-color: var(--bg-color);
    cursor: pointer;
    color: var(--text-color);
}
