.root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.overlay {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(1px);
    cursor: pointer;
}
